.body {
    background-color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    padding: 16px 0;
}

.function-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.logo-image img.logo-png {
    height: 25px;
    width: 100%;
}

.link-set {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-right {
    color: white !important;
    font-size: 16px;
    text-decoration: none;
    background: transparent;
    border: none !important;
    cursor: pointer;
}



.main-container {
    max-width: 1200px;
    margin: 32px auto;
    padding: 0 16px;
    background-color: #FFFFFF;
    color: #5f5f5f;
    min-height: 400px;
}

